@import "tailwindcss";

@theme {
  /* Paleta Oficial Club León */
  --color-club-red: #B21021;
  --color-club-gold: #AF9A6D;
  --color-club-dark: #0f0f11;
  --color-club-gray: #1a1a1c;

  /* Tipografías */
  --font-sans: var(--font-inter), sans-serif;
  --font-title: var(--font-oswald), sans-serif;
}

/* Custom Scrollbar Premium */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--color-club-dark); }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--color-club-gold); }
::selection { background: var(--color-club-red); color: white; }

@layer base {
  body {
    background-color: var(--color-club-dark);
    color: #D1D5DB;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}

